<div class="mail-box">
    <div class="mail-header">
        <div class="mail-title"><%= message.subject %></div>
        <div class="mail-recipient">→ <%= message.to %></div>
        <div class="mail-date"><%= message.date %> ⌚ <%= message.time %></div>
        <div class="mail-tag-box">
            <% _.each( message.tags, function( tag ){  %>
            <span class="mail-tag"><%= tag %></span>
            <% }); %>
        </div>
    </div>
    
    <div class="message-body">
    <% _.each(message.body, function(part){ %>
        <% if(part.type.split('/')[0] === 'text'){ %>
        <p><%= part.payload %></p>
        <% } %>
        <% if(part.type.split('/')[0] === 'image'){ %>
        <img src="<%= part.payload %>" />
        <% } %>
    <% }); %>
    </div>
</div>