<!DOCTYPE html>
<html>

<head>
<title>{% block title %}extrapole{% endblock %}</title>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/backbone.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/template.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/models.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/collections.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/views.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>

<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}style/extrapole.less" />
<script type="text/javascript" src="{{STATIC_URL}}style/less.js"></script>

</head>

<body>
<div id="logo-box"><img src="{{STATIC_URL}}extrapole-logo.png" title="logo extrapole" alt="logo extrapole" /></div>

</body>
</html>